.index-poster {
  width: 100vw;
  height: 40vh;
  margin: 70px 0;
  position: relative;
}

.index-poster-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.index-poster-str {
  height: 100%;
  width: 100%;
  top: 0px;
  position: absolute;
}

.index-poster-str h1 {
  text-align: center;
  margin-top: 10vh;
  font-size: 4vh;
}

.index-poster-str p {
  text-align: center;
  margin-top: 5vh;
  font-size: 2vh;
}

.cocktail-index {
  width: 100vw;
  padding: 0px 50px;
  display: flex;
  justify-content: center;
}

.cocktail-index-box {
  height: 500px;
  width: 500px;
  background-color: white;
  border: 2px solid orange;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 0px 20px;
  padding: 5px;
}

.cocktail-index-name {
  font-size: 24px;
  color: orange;
  font-weight: bold;
  margin-bottom: 5px;
}

.cocktail-index-tab {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.cocktail-index-alcohol, .cocktail-index-type {
  font-size: 20px;
  color: orange;
  font-weight: bold;
}

.cocktail-index-img {
  height: 400px;
  width: 400px;
}

.make-btn-icon {
  border-radius: 10%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  border: 10px solid darkorange;
  object-fit: contain;
}